
.settingsTitle{
    margin:50px auto;
    text-align:center;
    /* font-family: 'Noto sans KR', sans-serif; */
    border-top:3px double #333;
    border-bottom:3px double #333;
    width:250px;
}
.settingsBox{
    background: url(../../../public/images/biscuit.png) no-repeat;
    padding-top:80px;
    width:475px;
    height:1000px;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction: column;
    font-size:26px;
    padding:100px 80px;
}
.settingsBox label{
    vertical-align: middle;
    text-align:right;
}
.settingsBox input{
    border-color:#ddd;
    border-width:1px;
    border-radius:12px;   
    line-height:26px;
    margin-left:15px;

}

